<%- include('../../partials/doctype.ejs') %>

<head>
    <%- include('../../partials/header') %>
    <title><%= page.display %> - <%= app.name %></title>
    <%- include('../../partials/theme_css') %>
</head>

<body>
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                <!-- Forgot Password -->
                <div id="forgotPasswordCard" class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center mb-4 mt-2">
                            <span onclick="route('/')" class="app-brand-logo gap-2">
                                <img src="<%= app.logo %>" data-app-light-img="<%= app.logo_dark %>" data-app-dark-img="<%= app.logo_light %>">
                            </span>
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-1 pt-2">Şifrenizi mi unuttunuz? 🔒</h4>
                        <p class="mb-4">e-Posta adresinizi girin ve size şifrenizi sıfırlayabileceğiniz bir mail gönderelim</p>
                        <form id="forgotPasswordForm" class="mb-3">
                            <div id="errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                                <b id="errorDetail"></b>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">e-Posta</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="e-Posta adresinizi giriniz" autofocus />
                            </div>
                            <button class="btn btn-primary d-grid w-100">Sıfırlama Linki Gönder</button>
                        </form>
                        <div class="text-center">
                            <span onclick="route('/auth/login')" class="d-flex align-items-center justify-content-center">
                                <i class="ti ti-chevron-left scaleX-n1-rtl"></i>
                                Girişe Dön
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /Forgot Password -->
            </div>
        </div>
    </div>
    <%- include('../../partials/theme_js') %>
</body>

</html>
