<%- include('../../partials/doctype.ejs') %>

<head>
    <%- include('../../partials/header') %>
    <title><%= page.display %> - <%= app.name %></title>
    <%- include('../../partials/theme_css') %>
</head>

<body>
    <div class="authentication-wrapper authentication-cover authentication-bg">
        <div class="authentication-inner row">
            <!-- /Left Text -->
            <div class="d-none d-lg-flex col-lg-7 p-0">
                <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
                    <img src="/img/illustrations/login-screen-ill.png" alt="auth-login-cover" class="img-fluid my-5 auth-illustration" />
                    <img src="/img/illustrations/bg-shape-image-light.png" alt="auth-login-cover" class="platform-bg" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png" />
                </div>
            </div>
            <!-- /Left Text -->

            <!-- Login -->
            <div id="loginCard" class="d-flex col-12 col-lg-5 align-items-center p-sm-5 p-4">
                <div class="w-px-400 mx-auto">
                    <!-- Logo -->
                    <div class="app-brand mb-4">
                        <span onclick="route('/')" class="app-brand-logo gap-2">
                            <img src="<%= app.logo %>" data-app-light-img="<%= app.logo_dark %>" data-app-dark-img="<%= app.logo_light %>">
                        </span>
                    </div>
                    <!-- /Logo -->
                    <h3 class="mb-1">Hoşgeldiniz... 👋</h3>
                    <p class="mb-4">Lütfen kullanıcı adı ve şifreniz ile giriş yapınız</p>

                    <form id="loginForm" class="mb-3">
                        <div id="errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                            <b id="errorDetail"></b>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">e-Posta</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="e-Posta adresinizi giriniz" autofocus />
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Şifre</label>
                                <span onclick="route('/auth/forgot-password')">
                                    <small>Şifrenizi mi unuttunuz?</small>
                                </span>
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                            </div>
                        </div>
                        <button class="btn btn-primary d-grid w-100 mt-4">Giriş Yap</button>
                    </form>

                    <p class="text-center">
                        <span>Rahat Müşavir'de yeni misiniz?</span>
                        <span onclick="route('/auth/register')">
                            <span>Yeni hesap oluşturun</span>
                        </span>
                    </p>
                </div>
            </div>
            <!-- /Login -->
        </div>
    </div>
    <%- include('../../partials/theme_js') %>
</body>

</html>
